
.container 
.textarea{
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  line-height: 3;
  padding: 20px;
  background: black;
  border: none;
  resize: none;
}

/*jumboton is defined as title*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border-bottom: solid black;
}
/*create white space in each row*/
.row {
  white-space: nowrap;
  height: 80px;
  width: 100%;
  border-top: 1px solid rgb(255, 255, 255);
}

/*Grey color in row when it is past*/
.past {
  background-color: #d3d3d3;
  color: rgb(255, 255, 255);
}
/*Red color in row when it is present*/
.present {
  background-color: #ff6961;
  color: white;
}
/*Green color in row when it is future*/
.future {
  background-color: #77dd77;
  color: white;
}

button.bg-info{
  padding: 20px 9px

}
/*Right save button that is to save*/
.saveBtn,
 button,
 button:focus{
  border-left: 4px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #06aed5;
  color: white;
}
/*When hover over save button */
.saveBtn i:hover {
  transition: all 0.3s ease-in-out;
}
/*Button when pressed will save info and show outline of none*/

input:focus {
  outline: none;
}

