/*STYLE SECTION*/
/*body section is overall everything*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  line-height: 1;
  background-color: rgba(80, 197, 255, 0.346);
}
/*Top Header section font*/
.lead {
  font-weight: 500;
}

.leadImg {
  height:1rem;
  font-size: 1.75em;
}

.container {
  max-width: 85%;
}
/*description container & also part header container*/
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  backdrop-filter: blur(10px);
}

textarea.col-md-10.description {
  background-color: rgba(127, 174, 255, 0.477);
}


.jumbotron {
  text-align: center;
  background-color: #ffffff;
  opacity: 1.0;
  color: black;
  border-radius: 10% / 50%;
  border-bottom: 10px solid black;
}
/*container outline white space seperation for description*/
.description {
  white-space: pre-wrap;
}
/*container overall (HHAM/PM | description | saveBTN)*/
.time-block {
  text-align: center;
  border-radius: 30px;
}
/*div for the rows of time-continaters*/
.row {
  white-space: pre-wrap;
  height: 70px;
  border-top: 1px solid white;
}
/*all hour square container */
.hour {
  background-color: #ebebc3f6;
  color: #000000;
  border-top: 1px dashed #000000;
  border-top: 1px dashed #000000;
  padding-top: 25px;
}
/*PAST TIME hightlight in container*/
.past {
  background-color: #e28686b9;
  color: white;
}

/*SaveBTN far right on each container section */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
/*Sizing on web page*/
@media screen and (max-width: 768px){
  .row{
    height: auto;
    margin-top: 50px;
  }
  .hour{
    padding: 15px;
  }
  .saveBtn{
  border: 0;
  border-radius: 0 0 15px 15px;
  height: 50px;
  }
  .textarea{
  min-height: 85px;
  border: 0;
  height: auto;
  }
}
